#!/sbin/openrc-run

name="autonom"
command="/usr/bin/env"
pidfile="/var/run/$SVCNAME.pid"
command_args="/var/www/autonom/run.sh --detach --pid=$pidfile --listen=0.0.0.0 --port=8080 --syslog=$SVCNAME"
command_background=true

depend() {
	need net localmount
	after firewall
}

